# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
.idea/
*.iws

# maven
target/
logs/
.DS_Store

# Mac

*.properties

target/bjtu-cloud/WEB-INF/classes/config-generator.xml
