<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjtu.cloud.repository.NodeRecordMapper">
  <resultMap id="BaseResultMap" type="com.bjtu.cloud.common.entity.NodeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, node_id, status, operate_time, operate_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllNodeRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from node_record
    order by operate_time
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from node_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjtu.cloud.common.entity.NodeRecord">
    insert into node_record (id, node_id, status, 
      operate_time, operate_name)
    values (#{id,jdbcType=INTEGER}, #{nodeId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjtu.cloud.common.entity.NodeRecord">
    insert into node_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operateName != null">
        operate_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateName != null">
        #{operateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjtu.cloud.common.entity.NodeRecord">
    update node_record
    <set>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateName != null">
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjtu.cloud.common.entity.NodeRecord">
    update node_record
    set node_id = #{nodeId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operate_name = #{operateName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>