<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjtu.cloud.repository.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.bjtu.cloud.common.entity.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="node_amount" jdbcType="INTEGER" property="nodeAmount" />
    <result column="node_ids" jdbcType="VARCHAR" property="nodeIds" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, node_amount, node_ids
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getUserInfoByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="getAllUserInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjtu.cloud.common.entity.UserInfo">
    insert into user_info (id, user_name, node_amount, 
      node_ids)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{nodeAmount,jdbcType=INTEGER}, 
      #{nodeIds,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bjtu.cloud.common.entity.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nodeAmount != null">
        node_amount,
      </if>
      <if test="nodeIds != null">
        node_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nodeAmount != null">
        #{nodeAmount,jdbcType=INTEGER},
      </if>
      <if test="nodeIds != null">
        #{nodeIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjtu.cloud.common.entity.UserInfo">
    update user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nodeAmount != null">
        node_amount = #{nodeAmount,jdbcType=INTEGER},
      </if>
      <if test="nodeIds != null">
        node_ids = #{nodeIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjtu.cloud.common.entity.UserInfo">
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      node_amount = #{nodeAmount,jdbcType=INTEGER},
      node_ids = #{nodeIds,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>